page-home {

  ion-grid {
    justify-content: space-between;
    height: 100%;
  }

  .title, .subtitle, .subsubtitle {
    letter-spacing: 1px;
  }

  .title, .subtitle, .subsubtitle, .label-text {
    font-family: 'Pacifico', cursive;
  }

  .title {
    font-size: 6rem;
  }

  .subtitle {
    font-style: italic;
  }

  .subsubtitle {
    font-weight: bold;
    font-size: 2rem;
  }

  .right-button {
    display: flex;
    justify-content: flex-end;
  }

  .label-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

}
