
<ion-content>

  <div class="image-background">
    <img src="assets/imgs/app/background.png" />
  </div>

  <ion-row class="score-row">
    <ion-col>
      Score: {{ game.currentScore | number }}
    </ion-col>
  </ion-row>

  <ion-grid class="container-grid" [ngClass]="game.panicState">

    <ion-row *ngFor="let row of game.grid; let y = index" [style.transform]="transformOffset">

      <ion-col *ngFor="let tile of row; let x = index"
               (swipeLeft)="swipeTile(x, y, -1)"
               (swipeRight)="swipeTile(x, y, 1)">

        <div class="tile" [attr.x]="x" [attr.y]="y">
          <img *ngIf="tile" [src]="'assets/imgs/tiles/' + tile.color + '.png'" />
        </div>

      </ion-col>

    </ion-row>

    <ion-row [class.next-row]="!game.gameOver" [style.transform]="transformOffset">
      <ion-col *ngFor="let tile of game.nextRow">
        <div class="tile">
          <img [src]="'assets/imgs/tiles/' + tile.color + '.png'" />
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
