page-game {

  $tile-height: 42px;
  $num-horiz-tiles: 6;
  $num-vert-tiles: 12;

  .scroll-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .content-md .score-row {
    padding-left: 49.5px;
    padding-right: 49.5px;
  }

  .content-ios .score-row {
    padding-left: 32px;
    padding-right: 32px;
  }

  .score-row {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    padding-top: 10px;
    width: 100%;

    .button-col {
      text-align: right;

      button {
        margin: 0;
      }
    }
  }

  .container-grid {
    max-width: ($tile-height * $num-horiz-tiles) + ($num-horiz-tiles * 4);
    max-height: ($tile-height * $num-vert-tiles) + ($num-vert-tiles * 2);
  }

  .next-row {
    img {
      filter: blur(1px) opacity(0.7);
    }
  }

  ion-grid {
    height: 100%;
    padding: 0 !important;

    overflow: hidden;

    justify-content: flex-end;

    ion-row {
      margin: 0 !important;
      padding: 0 !important;

      justify-content: center;

      min-height: $tile-height + 2px !important;
      max-height: $tile-height + 2px !important;

      transform: translateY($tile-height);

      ion-col {
        margin: 0 !important;
        padding: 0 !important;

        min-width: $tile-height + 2px !important;
        max-width: $tile-height + 2px !important;
        min-height: $tile-height + 2px !important;
        max-height: $tile-height + 2px !important;

        .tile:not(:first-child) {
          margin: 1px !important;
        }
      }
    }
  }

  ion-grid {
    border: 1px solid #000;
    border-bottom: 0 !important;

    &.super-panic {
      border: 2px solid #f00;

      animation: super-panic-pulse 500ms infinite;

      @keyframes super-panic-pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(200, 0, 0, 0.6);
        }

        100% {
          box-shadow: 0 0 0 10px rgba(200, 0, 0, 0);
        }
      }
    }

    &.panic {
      border: 2px solid #7f5200;

      animation: panic-pulse 1000ms infinite;

      @keyframes panic-pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(155, 55, 0, 0.6);
        }

        100% {
          box-shadow: 0 0 0 10px rgba(155, 55, 0, 0);
        }
      }
    }
  }

  .tile {
    pointer-events: none;
    object-fit: contain;
    min-width: $tile-height !important;
    max-width: $tile-height !important;
    min-height: $tile-height !important;
    max-height: $tile-height !important;

    &.transparent {
      opacity: 0.5;
    }

    img {
      display: block;
      width: auto;
      height: auto;
    }
  }
}

.shrunk-modal {

  opacity: 0.9;

  ion-title {
    font-family: 'Pacifico', cursive;
  }

  .modal-wrapper {
    position: absolute;
    left: 12.5%;
    top: 25%;
    width: 75%;
    height: 50%;
  }

  ion-backdrop {
    visibility: visible;
  }

  ion-title {
    &.title-ios {
      padding: 0 45px 1px !important;

      .toolbar-title {
        font-size: 3rem !important;
      }
    }
  }

  p {
    margin-top: 0;
  }

  .content {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    background-color: darken(map-get($colors, 'primary'), 5%);
  }
}
