
<ion-content>

  <div class="image-background">
    <img src="assets/imgs/app/background.png" />
  </div>

  <ion-row class="score-row">

    <ion-col col-9 no-padding>
      Score: {{ game.currentScore | number }}
    </ion-col>

    <ion-col no-padding class="button-col">
      <button ion-button icon-only color="dark" outline small (click)="pauseModal()">
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-col>

  </ion-row>

  <ion-grid class="container-grid" [ngClass]="game.panicState">

    <ion-row *ngFor="let row of game.grid; let y = index" [style.transform]="transformOffset">

      <ion-col *ngFor="let tile of row; let x = index">

        <div
          (swipe)="swipeAny(tile, $event)"
          (mouseenter)="hoverOver(x, y)"
          (click)="clickSwap(tile)">

          <div class="tile"
               [attr.x]="x"
               [attr.y]="y"
               [attr.tile-id]="tile ? tile.id : ''"
               [class.hovered]="isHovered(x, y)">
            <img *ngIf="tile" [src]="'assets/imgs/tiles/' + tile.color + '.png'" />
          </div>

        </div>

      </ion-col>

    </ion-row>

    <ion-row [class.next-row]="!game.gameOver" [style.transform]="transformOffset">
      <ion-col *ngFor="let tile of game.nextRow">
        <div class="tile">
          <img [src]="'assets/imgs/tiles/' + tile.color + '.png'" />
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
